<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target name="IAErrorFile" xsi:type="File" fileName="${basedir}/Log/${date:format=yyyy-MM-dd}_IAErorr.txt" layout="${date:format=HH\:mm\:ss} | ${message} | ${exception} | ${callsite} | ${stacktrace:format=Raw}" />
    <target name="IAInfoFile" xsi:type="File" fileName="${basedir}/Log/${date:format=yyyy-MM-dd}_IAInfo.txt" layout="${date:format=HH\:mm\:ss} | ${message} " />
    <target name="IAWarningFile" xsi:type="File" fileName="${basedir}/Log/${date:format=yyyy-MM-dd}_IAWarning.txt" layout="${date:format=HH\:mm\:ss} | ${message} " />
    <target name="IAExceptionMail" xsi:type="Mail" smtpServer="213.243.34.33" from="" to="" subject="IA Exception-${machinename}" layout="${date:format=HH\:mm\:ss} | ${message} | ${exception} | ${callsite} | ${stacktrace:format=Raw}"/>
  </targets>
  <rules>
    <logger name="*" level="Error" writeTo="IAErrorFile" />
    <logger name="*" level="Warn" writeTo="IAWarningFile" />
    <logger name="*" level="Info" writeTo="IAInfoFile" />
  </rules>
</nlog>
