<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="logFilePath" value="${level}Log.txt" />
	<variable name="seperator" value="******************************************************************************************************" />
	<targets async="true">
		<target name="infoFile" xsi:type="File"  maxArchiveFiles="512" archiveAboveSize="2097152" fileName="${logFilePath}"
			layout="${longdate} ${level:upperCase=true}: ${message} ${exception:format=ToString}${newline}${seperator}" concurrentWrites="false" />

		<target name="debugFile" xsi:type="File" maxArchiveFiles="512" archiveAboveSize="2097152" fileName="${logFilePath}"
			layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}" concurrentWrites="false" />

		<target name="errorFile" xsi:type="File" maxArchiveFiles="512" archiveAboveSize="2097152" fileName="${logFilePath}"
			layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}" concurrentWrites="false" />

		<target name="warnFile" xsi:type="File" maxArchiveFiles="512" archiveAboveSize="2097152" fileName="${logFilePath}"
			layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}" concurrentWrites="false" />
	</targets>
	<rules>
		<logger name="*" levels="Debug" writeTo="debugFile" />
		<logger name="*" levels="Info" writeTo="infoFile" />
		<logger name="*" levels="Error" writeTo="errorFile" />
		<logger name="*" levels="Warn" writeTo="warnFile" />
	</rules>
</nlog>